{%extends 'base.html'%} {% block content%}

<div class="container">
  <div class="row">
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
      <div class="MultiCarousel-inner">
        <!-- Se ejecuta una vez por cada artículo en catálogo -->
        {%for catalogo in catalogos%}
        <div class="item catalog-item mb-2 col-sm-3">
          <div class="pad15">
            <!-- Imagen del producto -->
            <img src="https://dummyimage.com/600x400/000/fff" class="img-fluid rounded mx-auto d-block"
              alt="Imagen de catálogo" />
            <!-- Nombre del producto -->
            <p class="lead mt-2">{{catalogo.nombre}}</p>
            <!-- Descripción del producto 
            <p>Descripción: {{catalogo.descripcion}}</p>-->
            <!-- Detalle del producto -->
            <a href="{%url 'catalogo_detalle' catalogo.id %}"> Ver detalle</a>
            <!-- Precio del producto por unidad -->
            <p>Precio: {{catalogo.precio}} €</p>
            <!-- Cantidad de unidades a pedir -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Cantidad</span>
              </div>
              <input type="number" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" />
              <!-- Apéndice para el botón de realizar pedido -->
              <div class="input-group-append">
                <button class="btn btn-outline-dark bg-secondary" type="button" id="button-addon1">Pedir</button>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
        <!--
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
            -->
      </div>
    </div>
    {%endblock%}
  </div>
</div>