{%extends 'base.html'%} {% block content%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Fecha Adquisición</th>
      <th scope="col">Fecha Instalación</th>
      <th scope="col">Fecha Último Mantenimiento</th>
      <th scope="col">Ver detalle</th>
    </tr>
  </thead>
  <tbody>
    {%for equipo in equipos%}
    <tr>
      <th scope="row">{{equipo.id}}</th>
      <td>{{equipo.marca}}</td>
      <td>{{equipo.modelo}}</td>

      <!-- Revisar mostrar hora -->
      <td>{{equipo.fecha_adquisicion}}</td>
      <td>{{equipo.fecha_instalacion}}</td>
      <td>{{equipo.fecha_ultimo_mantenimiento}}</td>
      <td><a href="{%url 'equipo_detalle' equipo.id %}"> Ver detalle</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<form action="{%url 'equipo_lista' %}" method="POST">
  {%csrf_token%} {{form.as_p}}
  <input type="submit" value="Enviar" />
</form>
{%endblock%}
