{%extends 'base.html'%} {% block content%} {%load static %}

<div id="index-cards">
  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>
  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>

  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>
  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>
</div>

{%endblock%}