{%extends 'base.html'%} {% block content%} {%load static %}
<!--
<style>
  a {
    background-color: yellow;
  }

  .index-card {
    border: 5px solid red;
    position: relative;
  }

  .index-card a {
    height: 100%;
    width: 100%;
  }

  .my-container {
    border: 2px solid green;
  }

  .my-row {
    border: 3px solid blueviolet;
  }

  .my-col {
    border: 1px solid blue;
  }
</style>

<div id="index-cards">
  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>
  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>

  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>
  <div class="index-card col-sm-6">
    {%load static %}
    <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
    <span>Equipos</span>
  </div>
</div>
-->
<div id="index-cards" class="content my-container">
  <div class="row my-row">
    <div class="col my-col justify-content-center d-flex justify-content-center d-flex">
      <a class="index-card col-sm-6" href="{%url 'catalogo_lista' %}">
        {%load static %}
        <img src="{% static 'icons/Catalogo.png' %}" class="card-icon" alt="..." />
        <span>Catálogo</span>
      </a>
    </div>
    <div class="col my-col justify-content-center d-flex">
      <a class="index-card col-sm-6" href="{%url 'empleado_lista' %}">
        {%load static %}
        <img src="{% static 'icons/Empleado.png' %}" class="card-icon" alt="..." />
        <span>Empleados</span>
      </a>
    </div>
    <div class="col my-col justify-content-center d-flex">
      <a class="index-card col-sm-6" href="{%url 'pedido_lista' %}">
        {%load static %}
        <img src="{% static 'icons/Pedido.png' %}" class="card-icon" alt="..." />
        <span>Pedidos</span>
      </a>
    </div>
    <div class="col my-col justify-content-center d-flex ">
      <a class="index-card col-sm-6" href="{%url 'proceso_lista' %}">
        {%load static %}
        <img src="{% static 'icons/Proceso.png' %}" class="card-icon" alt="..." />
        <span>Procesos</span>
      </a>
    </div>
  </div>
  <div class="row my-row">
    <div class="col my-col justify-content-center d-flex ">
      <a class="index-card col-sm-6" href="{%url 'tarea_lista' %}">
        {%load static %}
        <img src="{% static 'icons/Tarea.png' %}" class="card-icon" alt="..." />
        <span>Tareas</span>
      </a>
    </div>
    <div class="col my-col justify-content-center d-flex">
      <a class="index-card col-sm-6" href="{%url 'equipo_lista' %}">
        {%load static %}
        <img src="{% static 'icons/Equipo.png' %}" class="card-icon" alt="..." />
        <span>Equipos</span>
      </a>
    </div>
    <div class="col my-col justify-content-center d-flex ">
      <a class="index-card col-sm-6" href="{%url 'equipo_lista' %}">
        {%load static %}
        <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
        <span>Equipos</span>
      </a>
    </div>
    <div class="col my-col justify-content-center d-flex ">
      <a class="index-card col-sm-6" href="{%url 'equipo_lista' %}">
        {%load static %}
        <img src="{% static 'icons/company.png' %}" class="card-icon" alt="..." />
        <span>Equipos</span>
      </a>
    </div>
  </div>
</div>

{%endblock%}