{%extends 'base.html'%} {% block content%} {% if pedidos%}
<h1>
  Listado de pedidos
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Planificado</th>
      <th scope="col">Producido</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Referencia Catálogo</th>
      <th scope="col">Precio</th>
      <th scope="col">Ver detalle</th>
    </tr>
  </thead>
  <tbody>
    {%for pedido in pedidos%}
    <tr>
      <th scope="row">{{pedido.id}}</th>
      <td>{{pedido.planificado}}</td>
      <td>{{pedido.producido}}</td>
      <td>{{pedido.cantidad}}</td>
      <td>{{pedido.catalogo}}</td>
      <td>{{pedido.importe}}€</td>
      <td><a href="{%url 'pedido_detalle' pedido.id %}"> Ver detalle</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% else %}
<h2>No hay pedidos pendientes.</h2>

{% endif %} {%endblock%}