{%extends 'base.html'%} {% block content%} {%load static%} {% load sesion_tags %}

<div class="mt-2">
  <h1>
    Pedido {{pedido.id}}
  </h1>

  <form action="{%url 'pedido_detalle' pedido.id %}" method="POST" class="formDetalle">
    {% csrf_token%}
    <div class="form-group row mt-4">
      <!-- Revisar formato BOOL -->
      <label for="pedidoPlanificado" class="col-sm-2 col-form-label">Planificado: </label>
      <div class="col-sm-10">
        <input type="checkbox" name="pedidoPlanificado" id="" {% if pedido.planificado %} checked{% endif %} {%if request.user|has_group:"CLIENTE" %} disabled {%endif%} />
      </div>

      <label for="pedidoProducido" class="col-sm-2 col-form-label">Producido: </label>
      <div class="col-sm-10">
        <input type="checkbox" name="pedidoProducido" id="" {% if pedido.producido %} checked{% endif %} {%if request.user|has_group:"CLIENTE" %} disabled {%endif%} />
      </div>

      <label for="pedidoCantidad" class="col-sm-2 col-form-label">Cantidad: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pedidoCantidad" name="pedidoCantidad" value="{{pedido.cantidad}}" />
      </div>

      <label for="pedidoReferencia" class="col-sm-2 col-form-label">Referencia: </label>
      <div class="col-sm-10">
        <select name="pedidoReferencia" id="" class="form-control">
          {%for prod in productos%}
          <option value="{{prod.id}}" {% if pedido.catalogo.id == prod.id %} selected {%endif%}> {{prod.nombre}}
          </option>
          {%endfor%}
        </select>

      </div>

      <label for="pedidoCliente" class="col-sm-2 col-form-label">Cliente: </label>
      <div class="col-sm-10">
        {%if request.user|has_group:"CLIENTE" %}  
        <select  id="" class="form-control" {%if request.user|has_group:"CLIENTE" %} disabled {%endif%}>
          {%for cl in clientes%}
          <option value="{{cl.id}}" {% if pedido.cliente.id == cl.id %} selected {%endif%}>{{cl.nombre}} </option>
          {%endfor%}
        </select>
        <input type="hidden" name="pedidoCliente" value="{{pedido.cliente.id}}"">
      {%else%}
        <select name="pedidoCliente" id="" class="form-control" {%if request.user|has_group:"CLIENTE" %} disabled {%endif%}>
          {%for cl in clientes%}
          <option value="{{cl.id}}" {% if pedido.cliente.id == cl.id %} selected {%endif%}>{{cl.nombre}} </option>
          {%endfor%}
        </select>
        {%endif%}
        <!-- <input type="text" class="form-control" id="pedidoCliente" name="pedidoCliente" value="{{pedido.cliente}}" /> -->
      </div>
    </div>
    <input type="hidden" name="id" value={{pedido.id}}>
    <input type="submit" class="btn btn-secondary" value="Guardar" />
  </form>

  <form action="{%url 'pedido_delete' %}" method="POST" class="formDetalle">
    {% csrf_token%}
    <input type="hidden" name="idPedido" value="{{pedido.id}}">
    <input type="submit" class="btn btn-danger" value="Eliminar">
  </form>
</div>


{%if request.user|has_group:"RESPONSABLE" %}
<div class="w-100">
  <hr>
  <h2>
    Tareas de este pedido:
  </h2>

  {% if tareas %}


  <table class="table table-hover mx-auto">
    <thead>
      <tr>
        <th scope="col">Proceso</th>
        <th scope="col">Equipo</th>

        <th scope="col">Hora inicio</th>
        <th scope="col">Hora fin</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody id="tareas-body">
      {%for tarea in tareas %}
      <tr>
        <td>{{tarea.proceso}}</td>
        <td>{{tarea.equipo}}</td>

        <td>{{tarea.hora_inicio|date:'Y-m-d H:i'}}</td>
        <td>{{tarea.hora_fin|date:'Y-m-d H:i'}}</td>
        <td><a href="{% url 'tarea_detalle' tarea.id%}">Ver detalle</a></td>
      </tr>

      {%endfor%}
    </tbody>
  </table>
  {% else %}
  No hay tareas.
  {% endif %}



  <hr>
  <h2>
    Añadir tarea a este pedido:
  </h2>
  <form action="" id="formNuevaTarea">
    {% csrf_token%}
    <label for="">Finalizada: {{form.finalizada}}</label> <br>
    <label for="">Hora inicio: {{form.hora_inicio}}</label> <br>
    <label for="">Hora fin: {{form.hora_fin}}</label> <br>
    <label for="">Equipo: {{form.equipo}}</label> <br>
    <label for="">Proceso: {{form.proceso}}</label> <br>
    <label for="">Empleados asignados: {{form.empleados_asignados}}</label> <br>

    <input type="hidden" name="pedido" value="{{pedido.id}}">
    <button class="btn btn-secondary" name="btnAñadir" id="elBoton">Añadir tarea a este pedido</button>
  </form>
</div>
{% endif %}
<div id="grafico-wrapper" width="400" height="400">
  <canvas id="grafico"></canvas>
</div>
{%endblock%}

{%block scripts%}
<script> 
  var id_pedido="{{pedido.id}}";
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{%if request.user|has_group:"RESPONSABLE" %}
<script src="{% static 'js/pedido_detalle.js'%}"></script>
{%endif%}
<script src="{% static 'js/pedido_detalle_graficos.js'%}"></script>
{%endblock%}