{%extends 'base.html'%} {% block content%}

<div class="mt-2">
  <h1>
    Pedido {{pedido.id}}
  </h1>

  <form action="{%url 'pedido_detalle' pedido.id %}" method="POST" class="formDetalle">
    {% csrf_token%}
    <div class="form-group row mt-4">
      <!-- Revisar formato BOOL -->
      <label for="pedidoPlanificado" class="col-sm-2 col-form-label">Planificado: </label>
      <div class="col-sm-10">
        <input type="checkbox" name="pedidoPlanificado" id="" {% if pedido.planificado %} checked{% endif %} />
      </div>

      <label for="pedidoProducido" class="col-sm-2 col-form-label">Producido: </label>
      <div class="col-sm-10">
        <input type="checkbox" name="pedidoProducido" id="" {% if pedido.producido %} checked{% endif %} />
      </div>

      <label for="pedidoCantidad" class="col-sm-2 col-form-label">Cantidad: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pedidoCantidad" name="pedidoCantidad" value="{{pedido.cantidad}}" />
      </div>

      <label for="pedidoReferencia" class="col-sm-2 col-form-label">Referencia: </label>
      <div class="col-sm-10">
        <select name="pedidoReferencia" id="" class="form-control">
          {%for prod in productos%}
          <option value="{{prod.id}}" {% if pedido.catalogo.id == prod.id %} selected {%endif%}> {{prod.nombre}}
          </option>
          {%endfor%}
        </select>

      </div>

      <label for="pedidoCliente" class="col-sm-2 col-form-label">Cliente: </label>
      <div class="col-sm-10">
        <select name="pedidoCliente" id="" class="form-control">
          {%for cl in clientes%}
          <option value="{{cl.id}}" {% if pedido.cliente.id == cl.id %} selected {%endif%}>{{cl.nombre}} </option>
          {%endfor%}
        </select>

        <!-- <input type="text" class="form-control" id="pedidoCliente" name="pedidoCliente" value="{{pedido.cliente}}" /> -->
      </div>
    </div>
    <input type="hidden" name="id" value={{pedido.id}}>
    <input type="submit" class="btn btn-secondary" value="Guardar" />
  </form>

  <form action="{%url 'pedido_delete' %}" method="POST" class="formDetalle">
    {% csrf_token%}
    <input type="hidden" name="idPedido" value="{{pedido.id}}">
    <input type="submit" class="btn btn-danger" value="Eliminar">
  </form>

  <form action="{%url 'tarea_create' %}" method="POST" class="formTareaDesdePedido">
    {% csrf_token%}
    <input type="hidden" name="idPedido" value="{{pedido.id}}">
    <input type="submit" class="btn btn-secondary" value="Añadir tarea a este pedido">
  </form>
</div>
{%endblock%}