{%extends 'base.html'%} {% block content%}
<div class="mt-2">

  <h1>
    Proceso {{proceso.id}}
  </h1>

  <form action="{%url 'proceso_detalle' proceso.id %}" method="POST">
    {% csrf_token%}
    <div class="form-group row mt-4">
      <label for="NombreProceso" class="col-sm-2 col-form-label ">Nombre: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control ml-2" id="NombreProceso" value={{proceso.nombre}}>
      </div>
    </div>
    <input type="hidden" name="idProceso" value={{proceso.id}}>
    <input type="submit" class="btn btn-secondary" value="Guardar">

    <input type="submit" class="btn btn-secondary" value="Eliminar">
    <!--Aun sin programar-->
  </form>

</div>
{%endblock%}