{%extends 'base.html'%} {% block content%}

<div class="mt-2">
  <h1>
    Tarea {{tarea.id}}
  </h1>

  <form action="{%url 'tarea_detalle' tarea.id %}" method="POST" class="formDetalle">
    {% csrf_token%}
    <div class="form-group row mt-4">
      <input type="hidden" class="form-control ml-2" id="tareaID" name="tareaID" value="{{tarea.id}}" />

      <input type="hidden" class="form-control ml-2" id="tareaID" name="tareaID" value={{tarea.id}}>

      <!-- TODO Revisar formato DATE -->
      <label for="HoraInicioTarea" class="col-sm-2 col-form-label ">Hora de Inicio: </label>
      <div class="col-sm-10">
        <input type="date" class="form-control ml-2" id="HoraInicioTarea" name="HoraInicioTarea"
          value="{{tarea.hora_inicio|date:'yy-m-d'}}">
          Año: {{tarea.hora_inicio.year}}
          <br>
          Fecha: {{tarea.hora_inicio.year}}/{{tarea.hora_inicio.month}}/{{tarea.hora_inicio.day}}
          <br>
          Hora: {{tarea.hora_inicio.time}}
          <br>
          Horas: {{tarea.hora_inicio.hour}}
          <br>
          Minutos: {{tarea.hora_inicio.minute}}
          <br>
          Segundos: {{tarea.hora_inicio.second}}
          <br>
      </div>

      <!-- Revisar formato DATE -->
      <label for="HoraFinTarea" class="col-sm-2 col-form-label">Hora de Fin: </label>
      <div class="col-sm-10">
        <input type="datetime" class="form-control ml-2" id="HoraFinTarea" name="HoraFinTarea" value="{{tarea.hora_fin}}" />
      </div>

      <label for="tareaIDProceso" class="col-sm-2 col-form-label">Proceso: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control ml-2" id="tareaIDProceso" name="tareaIDProceso" value="{{tarea.proceso}}" />
      </div>

      <!-- Revisar texto acortado -->
      <label for="tareaIDEquipo" class="col-sm-2 col-form-label">Equipo: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control ml-2" id="tareaIDEquipo" name="tareaIDEquipo" value="{{tarea.equipo}}" />
      </div>

      <label for="tareaIDPedido" class="col-sm-2 col-form-label">Pedido: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control ml-2" id="tareaIDPedido" name="tareaIDPedido" value="{{tarea.pedido}}" />
      </div>

    </div>
    <input type="submit" class="btn btn-secondary" value="Guardar">
  </form>

  <form action="{%url 'tarea_delete'%}" method="POST" class="formDetalle">
    {% csrf_token%}
    <input type="hidden" name="idTarea" value="{{tarea.id}}">
    <input type="submit" class="btn btn-danger" value="Eliminar">
  </form>
</div>
{%endblock%}
