{%extends 'base.html'%} {% block content%}

<div class="mt-2">
  <h1>
    Tarea {{tarea.id}}
  </h1>

  <form action="{%url 'tarea_detalle' tarea.id %}" method="POST" class="formDetalle">
    {% csrf_token%}
    <div class="form-group row mt-4">
      <input type="hidden" class="form-control ml-2" id="tareaID" name="tareaID" value="{{tarea.id}}" />


      <!-- TODO Revisar formato DATE -->
      <label for="HoraInicioTarea" class="col-sm-2 col-form-label ">Hora de Inicio: </label>
      <div class="col-sm-10">
        <input type="datetime" class="form-control ml-2" id="HoraInicioTarea" name="HoraInicioTarea"
          value="{{tarea.hora_inicio|date:'Y-m-d H:m'}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}">

      </div>

      <!-- Revisar formato DATE -->
      <label for="HoraFinTarea" class="col-sm-2 col-form-label">Hora de Fin: </label>
      <div class="col-sm-10">
        <input type="datetime" class="form-control ml-2" id="HoraFinTarea" name="HoraFinTarea"
          value="{{tarea.hora_fin|date:'Y-m-d H:m'}}"pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}"/>
      </div>

      <label for="tareaIDProceso" class="col-sm-2 col-form-label">Proceso: </label>
      <div class="col-sm-10">

        <select name="tareaIDProceso" id="" class="form-control ml-2">
          {%for proc in procesos%}
          <option value="{{proc.id}}" {% if tarea.proceso.id == proc.id %} selected {%endif%}> {{proc.nombre}}
          </option>
          {%endfor%}
        </select>
      </div>


      <label for="tareaIDEquipo" class="col-sm-2 col-form-label">Equipo: </label>
      <div class="col-sm-10">

        <select name="tareaIDEquipo" id="" class="form-control ml-2">
          {%for eq in equipos%}
          <option value="{{eq.id}}" {% if tarea.equipo.id == eq.id %} selected {%endif%}> {{eq}}
          </option>
          {%endfor%}
        </select>
      </div>

      <label for="tareaIDPedido" class="col-sm-2 col-form-label">Pedido: </label>
      <div class="col-sm-10">

        <select name="tareaIDPedido" id="" class="form-control ml-2">
          {%for ped in pedidos%}
          <option value="{{ped.id}}" {% if tarea.pedido.id == ped.id %} selected {%endif%}> {{ped}}
          </option>
          {%endfor%}
        </select>
      </div>
      <label for="tareaIDProceso" class="col-sm-2 col-form-label">Empleados: </label>
      <div class="col-sm-10">

        <select name="empleadosAsignados" id="" class="form-control ml-2" multiple>
          {%for empl in empleados%}
          <option value="{{empl.id}}" {% if empl in tarea.empleados_asignados.all %} selected {%endif%}> {{empl}}
          </option>
          {%endfor%}
        </select>
      </div>

      <label for="tareaFinalizada" class="col-sm-2 col-form-label">Finalizada: </label>
      <div class="col-sm-10">
        <input type="checkbox" name="tareaFinalizada" id=""  {% if tarea.finalizada %} checked{% endif %}/>
      </div>
    </div>
    <input type="submit" class="btn btn-secondary" value="Guardar">
  </form>

  <form action="{%url 'tarea_delete'%}" method="POST" class="formDetalle">
    {% csrf_token%}
    <input type="hidden" name="idTarea" value="{{tarea.id}}">
    <input type="submit" class="btn btn-danger" value="Eliminar">
  </form>
</div>
{%endblock%}